*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.img-container{
    position:relative
}
img{
    width: 500px;
    
}
h1{
    position: absolute;
    top: 170px;
    left:470px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}